// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #07ABDD;
$blueDark:              #0064cd;
$green:                 #46a546;
$red:                   #9d261d;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Scaffolding
// -------------------------
$bodyBackground:        #F8F8F8;
$textColor:             #4C4C4C;

// Links
// -------------------------
$linkColor:             $grayDark;
$linkColorHover:        #191919;

// Typography
$baseFontFamily: "garamond-premier-pro-caption", "Georgia", serif; 
$baseFontSize: 12px;
$baseLineHeight: 24px;

$headingsColor: #191919;

// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownLinkColor:             #191919;
$dropdownLinkColorHover:        $grayLight;
$dropdownLinkBackgroundHover:   transparent;
$dropdownDividerTop:            $grayLight;
$dropdownDividerBottom:         $white;

// Navbar
// -------------------------
$navbarHeight:                    40px;
$navbarBackground:                $grayDarker;
$navbarBackgroundHighlight:       $grayDark;
$navbarText:                      $grayLight;
$navbarLinkColor:                 #191919;
$navbarLinkColorHover:            $grayLight;
$navbarLinkColorActive:           $navbarLinkColorHover;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      $navbarBackground;


// Import
@import "twitter/bootstrap";
@import "gko/mixin.1.0.0";
@import "gko/grid";
@import "galleria";

/*-----------------------------------------
   SHARED STYLES 
----------------------------------------- */ 
.uppercase_font_style {
	line-height: 24px;
	font-size: 13px;
	letter-spacing: 1px; 
	text-transform: uppercase; 
}

/*-----------------------------------------
 TYPOGRAPHY 
----------------------------------------- */
h1 {
	font-size: 12px;
	line-height: 70px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	letter-spacing: 3px;
}
h2 {
	font-size: 12px;
	font-style: italic;
	line-height: 70px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	letter-spacing: 3px;
}
h3 {
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	letter-spacing: 3px;
}
h4 {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	line-height: 70px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	letter-spacing: 3px;
}
/*-----------------------------------------
   OVERWRITTE
----------------------------------------- */
.html_text {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	p, ul {
		font-weight: 300;
	}
	p {
		margin-bottom: $baseLineHeight;
	}
}
/*-----------------------------------------
   STRUCTURE
----------------------------------------- */ 
body {
	display: none;
	border-top: 3px solid #5d5b59;
}
/*-----------------------------------------
   SLIDESHOW
----------------------------------------- */ 
.diaporama {
	background-color: white;
	padding:18px;
	border: 1px solid #B7B6B6;
	margin-bottom: $baseLineHeight;
}
/*-----------------------------------------
 HEADER
----------------------------------------- */
#locales-menu .nav {
	background-color: #5d5b59;
	color: #fff;
	@include border-radius(0 0 4px 4px);	
}
#locales-menu .nav > li > a {
	color: #fff;
	&:hover {
		color: #fff;	
	};
}
.header-nav {
	border-bottom: 1px solid #B7B6B6; 
	padding-top: $baseLineHeight * 1.5;
}
nav#primary-menu .nav li  a {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 2px;
	line-height: 28px;
}
.navbar .brand {
	float: none;
	text-align: center;
	a {
		padding: 0;
		margin: 0 auto;
		background: transparent image-url("logo.png") center center no-repeat;
		background-size: contain;
		cursor: pointer;
		text-decoration: none;
		display: block;
		width: 200px;
		height: 98px;
		@include hide-text;
		
	}
}
/*-----------------------------------------
 RESPONSIVE
----------------------------------------- */
@import "twitter/bootstrap/responsive";
@media (min-width: 980px) {
	/*-----------------------------------------
	 HEADER
	----------------------------------------- */ 
	.navbar-inner {
	  background-image: none;
	  background: none; 
	}

	/* Main menu settings */
	nav#primary-menu {
		margin-top: 23px;
		text-shadow: none;
		ul.nav {
			@include center-nav();
			> li > a {
				@include transition(all 0.3s ease-in-out);
				padding: 10px 0px 11px 10px;
				i {
					display: inline-block;
					@include ie7-inline-block();
					width:20px;
					height: 4px;
					background: transparent asset-url("nav-dot.png", image) 0 0 no-repeat;
				}
				.text {
					display:inline-block;
				    @include ie7-inline-block();
					padding-left: 16px;
				}
			}
			li:first-child a {
				i {
					display: none;
				}
				.text {
					padding-left: 0;
				}
				
			}
		}
	}

	.navbar .nav-collapse {
		margin-top:10px;
		@include clearfix;
		padding-top:10px;
	}
	
	/*-----------------------------------------
	 FOOTER
	----------------------------------------- */
	#footer {
		border-top: 1px solid #B7B6B6; 
		padding-bottom: $baseLineHeight * .5;
		padding-top: $baseLineHeight * .5;
		.nav {
			@include center-nav;	
		}
		.nav > li > a  {
			font-weight: normal;
			font-size: 9px;
			letter-spacing: 1px; 
			text-transform: uppercase;
		}
	}
}